params {
    input = null
    outdir = null
    qualify = null
    file_of_files = null
    amino = false
    translate = false
    kmer = null
    label = null
    label_colors = null
    top = "10n"
    tree = true
    pdf = true
    filter = "default"
    bootstrapping = null
    support = 0
    consensus = "none"
    iupac = 0
    norev = false
    code = 1
    mean = "geom2"
    core = false
    blacklist = null
}

outputDir = params.outdir

manifest {
    homePage = "https://github.com/gi-bielefeld/sans"
    doi = "10.1093/bioinformatics/btab444"
    mainScript = "clowm/main.nf"
    license = "GNU General Public License v3.0"
    name = "SANS"
    nextflowVersion = ">=25.10"
    contributors = [
        [
            name: "Roland Wittler",
            affiliation: "Bielefeld University",
            contribution: ["author", "contributor", "maintainer"],
            orcid: "https://orcid.org/0000-0002-2249-9880",
            github: "https://github.com/rwittler"
        ],
        [
            name: "Andreas Rempel",
            affiliation: "Bielefeld University",
            contribution: ["contributor"],
            github: "https://github.com/andreas-rempel",
            orcid: "https://orcid.org/0000-0003-0609-5621"
        ]
    ]
}
