params {
    input = null
    outdir = null
    qualify = null
    file_of_files = null
    amino = false
    translate = false
    kmer = 31
    label = null
    label_colors = null
    top = "10n"
    tree = true
    pdf = true
    filter = default
    bootstrapping = null
    support = 0
    consensus = "none"
    iupac = 0
    norev = false
    code = 1
    mean = "geom2"
    core = false
    blacklist = null
}

manifest {
    homePage = "https://gitlab.ub.uni-bielefeld.de/gi/sans"
    doi = "10.1093/bioinformatics/btab444"
    mainScript = "clowm/main.nf"
}
